.idea/
.vscode/

.env*
.secret*

**/*.json
!**/*.example.json
*.patch

**/cert-manager-certificate.yaml
**/nginx-ingress-api.yaml
**/nginx-ingress-root.yaml
**/backend.yaml
**/frontend.yaml
**/storage.yaml
**/storage-processor.yaml
**/cn-cluster.yaml