.env*

.secret*

.idea/

.vscode/

**/*.json
!**/*.example.json

**/cert-manager-certificate.yaml

**/deployment/nginx-ingress/nginx-ingress-api.yaml

**/deployment/nginx-ingress/nginx-ingress-root.yaml
*.patch
