{
    "backendSecret": {
        "tokenSecret": "",
        "accessTokenDuration": "",
        "refreshTokenDuration": "",
        "defaultUserFullName": "",
        "defaultUserEmail": "",
        "defaultUserUsername": "",
        "defaultUserPassword": "",
        "googleClientId": "",
        "googleClientSecret": "",
        "googleRedirectUrl": "",
        "githubClientId": "",
        "githubClientSecret": "",
        "githubRedirectUrl": ""
    },
    "frontendSecret": {
        "frontendPath": "",
        "backendUrl": "",
        "backendOAuthUrl": ""
    },
    "postgresSecret": {
        "postgresDatabase": "",
        "postgresUser": "",
        "postgresPassword": ""
    },
    "redisSecret": {
        "redisPassword": ""
    },
    "storageSecret": {
        "storageType": "",
        "awsAccessKeyId": "",
        "awsSecretAccessKey": "",
        "awsRegion": "",
        "awsBucket": "",
        "virusCheckerType": "",
        "virusCheckerApiKey": ""
    }
}