apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  interval: 10m
  releaseName: cert-manager
  chart:
    spec:
      chart: cert-manager
      version: "v1.14.2"
      sourceRef:
        kind: HelmRepository
        name: jetstack
        namespace: flux-system
  install:
    createNamespace: true
    crds: CreateReplace
  values:
    resources:
      limits:
        cpu: 50m
        memory: 128Mi
      requests:
        cpu: 25m
        memory: 64Mi
    webhook:
      resources:
        limits:
          cpu: 50m
          memory: 64Mi
        requests:
          cpu: 25m
          memory: 32Mi
    cainjector:
      resources:
        limits:
          cpu: 50m
          memory: 128Mi
        requests:
          cpu: 25m
          memory: 64Mi
    startupapicheck:
      resources:
        limits:
          cpu: 50m
          memory: 64Mi
        requests:
          cpu: 25m
          memory: 32Mi
