on:
    repository_dispatch:
        types: 
            - deploy
    push:
        branches:
            - main

jobs:
    deploy:
        name: Deploy to Cluster
        runs-on: ubuntu-latest
        timeout-minutes: 30
        env:
            GHCR_USERNAME: ${{ secrets.GHCR_USERNAME }}
            GHCR_TOKEN: ${{ secrets.GHCR_TOKEN }}
            KUBE_CERT_SERVER: ${{ secrets.KUBE_CERT_SERVER }}
            KUBE_DOMAIN_EMAIL: ${{ secrets.KUBE_DOMAIN_EMAIL }}

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v3
              
            - name: Set Kubernetes Context
              uses: azure/k8s-set-context@v1
              with:
                  method: kubeconfig
                  kubeconfig: ${{ secrets.PORTFOLIO_KUBECONFIG }}

            - name: Execute deploy
              run: |
                  NAMESPACES_LIST=${{ vars.NAMESPACES_LIST }} ./deploy.sh