name: remote ssh command

on:
    repository_dispatch:
        types: [deploy-prod]
    push:
        branches:
            - main
            - staging

jobs:
    deploy:
        name: Deploy to Cluster
        environment: ${{ github.ref_name == 'main' && 'prod' || 'staging' }}
        runs-on: ubuntu-latest
        timeout-minutes: 30

        steps:
            - name: Set Kubernetes Context
              uses: azure/k8s-set-context@v1
              with:
                  method: kubeconfig
                  kubeconfig: ${{ secrets.KUBECONFIG }}

            - name: Execute deploy
              run: |
                  ./deploy.sh